* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Ubuntu Mono";
	font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ff6767;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#workspaces button {
    padding: 0 0 0 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused, #workspaces button.active {
    color: #ff6767;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.persistent {
	color: #ababab;
}

#mode {
    background-color: inherit;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: inherit;
    color: inherit;
	padding-right: 40px;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ff0000;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    background-color: inherit;
    color: inherit;
	min-width: 120px;
	padding-right: 20px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: inherit;
    color: inherit;
	padding-right: 20px;
}

#scratchpad {
    background: inherit;
	padding-left: 20px;
}

#scratchpad.empty {
	background-color: transparent;
	color: #ababab;
}
