/*
 * ROFI color theme
 *
 * Based on Base16 Material Color Scheme (https://github.com/ntpeters/base16-materialtheme-scheme)
 *
 * Modified by: Dave Davenport
 * User: Tomaszal
 * Copyright: Tomas Zaluckij
 * rewrited by ilgizar-khis (razigli)
 */

* {
	spacing: 0;
	background-color: transparent;

	text: #ffffff;
	border: #ff6767;

	font: "Ubuntu Mono 15";
}

window {
	transparency: "real";
	background-color: #000000CC; 
	border: 4px;
	border-color: @border;
	height: 550px;
}

mainbox {
	children: [inputbar, message, mode-switcher, listview];
}

inputbar {
	children: [prompt, textbox-prompt-colon, entry, case-indicator];
	padding: 10px 10px;
}

prompt {
	text-color: @text;
}

textbox-prompt-colon {
	expand: false;
	str: ":";
	margin: 0 1ch 0 0;
	text-color: @text;
}

entry {
	text-color: @text;
}

case-indicator {
	text-color: @text;
}

mode-switcher, message {
	border: 3px 0;
	border-color: @border;
}

button, textbox {
	text-color: @text;
	padding: 5px;
}

button selected {
	color: @border;
}

listview {
	scrollbar: false;
}

element {
	padding: 10px;
	spacing: 5px;
	highlight: bold underline;
	children: [element-text];
}

element-text {
	color: @text;
}

element-text selected {
	color: @border;
}
